<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h3>OAuth 2.0 Dashboard</h3>
        {{#if client}}
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Active Client Information</h3>
                        </div>
                        {{#each client}}
                            <div class="panel-body">
                                <b>{{@key}}:</b> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div><!-- /.col-sm-4 -->
            </div>
        {{/if}}
        {{#if token}}
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Token Information</h3>
                        </div>
                        {{#each token}}
                            <div class="panel-body">
                                <b>{{@key}}:</b> {{this}}
                            </div>
                        {{/each}}
                    </div>
                </div><!-- /.col-sm-4 -->
            </div>
        {{/if}}
    </div>
</div>